@using Accounting_Software.ViewModel;
@model ProductViewModel;
@{
    ViewData["Title"] = "Add";


}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    
    <form method="post">

        <input type="hidden" asp-for="SellerId" value="@ViewBag.SellerId">


        <h1>Add new Product</h1>
        <div>

            <label asp-for="Name">Product Name:</label>
            <input type="text" id="Name" name="Name" />

            <br />

            <label asp-for="Price">Price:</label>
            <input type="number" id="Price" name="Price" />
            <br />

            <label asp-for="Description">Description:</label>
            <input type="text" id="Description" name="Description" />
            <br />

            <label asp-for="Mass">Mass:</label>
            <input type="number" id="Mass" name="Mass" />

            <label asp-for="unitOfmass"></label>
            <select id="Unitofmass" name="Unitofmass">
                <option value="Kg">Kg</option>
                <option value="Gram">Gram</option>
                <option value="Ml">Ml</option>
            </select>


        </div>

        <div>
            @if (ViewBag.Products != null)
            {
                @foreach (ProductViewModel item in ViewBag.Products)
                {
                    <div>

                        @item.Name
                        @item.Price
                        @item.Description
                        @item.Mass
                        @item.unitOfmass
                    </div>

                }
            }

        </div>

      
        <a asp-action="Index" asp-controller="Seller">Return to Seller Index</a>

        <input type="submit" value="Save" />
    </form>
</body>

</html>

