@using Accounting_Software.ViewModel
@model IEnumerable<TransactionHistoryViewModel>

<h2>Product Transaction History</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>TypeOfAction</th>
                <th>Product Name</th>
                <th>Count</th>
                <th>Price</th>
                <th>Description</th>
                <th>Mass</th>
                <th>Unit of Mass</th>
                <th>Sold Date</th>
                <th>StoreName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.typeofAction</td>
                    <td>@transaction.ProductName</td>
                    <td>@transaction.Count</td>
                    <td>@transaction.Price.ToString("C")</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.Mass</td>
                    <td>@transaction.unitOfmass</td>
                    <td>@transaction.SoldDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@transaction.StoreName</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <strong>No transactions found for this user.</strong>
    </div>
}
